@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow: hidden;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.submit-btn {
  @apply bg-green-500 hover:bg-green-700;
}

.clear-btn {
  @apply bg-red-500 hover:bg-red-700;
}

.delete-btn {
  @apply bg-red-600 hover:bg-red-800;
}

.file-btn {
  @apply bg-red-500 hover:bg-red-700;
}
