@import "tailwindcss";

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.submit-btn {
  @apply bg-green-500 hover:bg-green-700;
}

.clear-btn {
  @apply bg-red-500 hover:bg-red-700;
}

.delete-btn {
  @apply bg-red-600 hover:bg-red-800;
}
